.phone-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 497px;
  img {
    z-index: 100;
    position: relative;
  }
  video {
    z-index: 95;
    position: absolute;
    top: 136px;
    left: 0px;
    max-width: 100%;
    width: 100%;
    padding: 23px;

  }
}

#video-overlay-wrapper {
  video {
    position: absolute;
    left: 28%;
    width: 44%;
    top: 10%;
  }
}