<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content text-center">
          <img src="/img/gds_logo_02.png" class="img-fluid logo-footer" alt="Google Developer Studio Logo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content text-center">
          <ul class="nav flex-column flex-lg-row justify-content-center">
            <li class="nav-item">
              <a href="https://login.corp.google.com/request?s=easyokrs.googleplex.com:443/uberproxy/&d=https://easyokrs.googleplex.com/search/%3Fq%3Dgds-design%26upxsrf%3DAKKYJRcvd5lAoUGEWDaPKBzcBnu6wCHm7PmhpWjnrJ9eODRMHQ:1570830603224&maxAge=1200&authLevel=2000000&keyIds=zRI,s8x&3pd=1" class="nav-link">Design Team Website</a>
            </li>
            <li class="nav-item">
              <a href="https://sites.google.com/a/google.com/developer-relations/Home/devr-teams/scalable-advocacy/scalable-developer-programs/scalable-developer-events" class="nav-link">Events Team Website</a>
            </li>
            <li class="nav-item">
              <a href="https://sites.google.com/google.com/gds-video/home" class="nav-link">Video Team Website</a>
            </li>
            <li class="nav-item">
              <a href="https://sites.google.com/google.com/dev-social" class="nav-link">Social Team Website</a>
            </li>
            <li class="nav-item">
              <a href="https://sites.google.com" class="nav-link">Learning Team Website</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
