<header id="page-header">
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/"><img src="/img/gds_logo_02.png" class="img-fluid" alt="{{ site.title }}"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="navbar-nav">
          <li class="nav-item hover-trigger d-none d-lg-block">
            <a class="nav-link" href="/#design">Design</a>
            <div class="hover-dropdown">
              <div class="hover-dropdown-content">
                <a class="hover-dropdown-item" href="/design/google-developers-brand-visuals">Brand Visuals</a>
                <a class="hover-dropdown-item" href="/design/flutter-dart">Flutter and Dart</a>
                <a class="hover-dropdown-item" href="/design/google-developer-swag">Swag</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown d-block d-lg-none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Design</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/design/google-developers-brand-visuals">Brand Visuals</a>
              <a class="dropdown-item" href="/design/flutter-dart">Flutter and Dart</a>
              <a class="dropdown-item" href="/design/google-developer-swag">Swag</a>
            </div>
          </li>
          
          <li class="nav-item hover-trigger d-none d-lg-block">
            <a class="nav-link" href="/#events">Events</a>
            <div class="hover-dropdown">
              <div class="hover-dropdown-content">
                <a class="hover-dropdown-item" href="/events/google-developer-days">Google Developer Days</a>
                <a class="hover-dropdown-item" href="/events/chrome-dev-summit-2019">Chrome Dev Summit 2019</a>
                <a class="hover-dropdown-item" href="/events/chrome-dev-summit-2018">Chrome Dev Summit 2018</a>
                <a class="hover-dropdown-item" href="/events/flutter-live-2018">Flutter Live</a>
                <a class="hover-dropdown-item" href="/events/firebase-summit">Firebase Summit</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown d-block d-lg-none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Events</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/events/google-developer-days">Google Developer Days</a>
              <a class="dropdown-item" href="/events/chrome-dev-summit-2019">Chrome Dev Summit 2019</a>
              <a class="dropdown-item" href="/events/chrome-dev-summit-2018">Chrome Dev Summit 2018</a>
              <a class="dropdown-item" href="/events/flutter-live-2018">Flutter Live</a>
              <a class="dropdown-item" href="/events/firebase-summit">Firebase Summit</a>
            </div>
          </li>

          <li class="nav-item hover-trigger d-none d-lg-block">
            <a class="nav-link" href="/#videos">Videos</a>
            <div class="hover-dropdown">
              <div class="hover-dropdown-content">
                <a class="hover-dropdown-item" href="/video/informational-videos">Informational</a>
                <a class="hover-dropdown-item" href="/video/inspirational-videos">Inspirational</a>
                <a class="hover-dropdown-item" href="/video/educational-videos">Educational</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown d-block d-lg-none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Videos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/video/informational-videos">Informational</a>
              <a class="dropdown-item" href="/video/inspirational-videos">Inspirational</a>
              <a class="dropdown-item" href="/video/educational-videos">Educational</a>
            </div>
          </li>
          
          <li class="nav-item hover-trigger d-none d-lg-block">
            <a class="nav-link" href="/#social">Social</a>
            <div class="hover-dropdown">
              <div class="hover-dropdown-content">
                <a class="hover-dropdown-item" href="/social/impactful-social-promotion">Impactful Social Promotion</a>
                <a class="hover-dropdown-item" href="/social/end-to-end-campaigns">End to End Campaigns</a>
                <a class="hover-dropdown-item" href="/social/youtube-channel-management">Youtube Management</a>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown d-block d-lg-none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Social</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/social/impactful-social-promotion">Impactful Social Promotion</a>
              <a class="dropdown-item" href="/social/end-to-end-campaigns">End to End Campaigns</a>
              <a class="dropdown-item" href="/social/youtube-channel-management">Youtube Management</a>
            </div>
          </li>
          <li class="nav-item hover-trigger d-none d-lg-block">
            <a class="nav-link" href="/#social">Learning</a>
            <div class="hover-dropdown">
              <div class="hover-dropdown-content">
                <a class="hover-dropdown-item" href="/learning/content-for-events">Content for Events</a>
                <a class="hover-dropdown-item" href="/learning/learning-pathways">Learning Pathways</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown d-block d-lg-none">
            <a class="nav-link dropdown-toggle border-bottom-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Learning</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/learning/content-for-events">Content for Events</a>
              <a class="dropdown-item" href="/learning/learning-pathways">Learning Pathways</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="{{ site.start_project_link }}">Start a Project</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="spacer"></div>
</header>
