// CARD SLIDE IN
@keyframes cardSlideIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.card {
    // Loop through the cards and delay the loading animation.
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      @include animation(cardSlideIn, .8s, .1s * $i);
    }
  }
}

//expand
@keyframes expand {
  from {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    // padding: 0;
  }
  to {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    opacity: 1;
    // padding: 40px;
    @include media-breakpoint-up(lg) {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      top: 20px;
      left: 20px;
    }
  }

}

@keyframes slideUpSmall {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpGrowSmall {
  0% {
    transform: translateY(85px) scale(0.95);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideUpGrowMedium {
  0% {
    transform: translateY(85px) scale(0.90);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideUpGrowLarge {
  0% {
    transform: translateY(85px) scale(0.85);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes exposeText {
  0% {
    opacity: 0;
    line-height: 2;
    transform: translateY(105%);
  }
  100% {
    opacity: 1;
    line-height: 1.2;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverMenu {
  0% {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  50% {
    opacity: 1;
    height: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
}

//animations prefixed with .animate- will fire with scroll trigger when they also have .animate class, others will fire on page load
.animate-grow-up-sm {
  opacity: 0;
  &.active {
    @include animation(slideUpGrowSmall, 0.8s);
  }
}

// 
.grow-up-sm {
  @include animation(slideUpGrowSmall, 0.8s, 0.3s);
}

.animate-grow-up-md {
  opacity: 0;
  &.active {
    @include animation(slideUpGrowMedium, 0.9s, 0.2s);
  }
}

.animate-grow-up-lg {
  opacity: 0;
  &.active {
    @include animation(slideUpGrowLarge, 1s, 0.3s);
  }
}

.animate-slide-up {
  opacity: 0;
  &.active {
    opacity: 1;
    @include animation(slideUpSmall, 1s)
  }
}

.animate-fade-in {
  opacity: 0;
  @include transition(1s, opacity, cubic-bezier(0.895, 0.03, 0.685, 0.22));
  &.active {
    opacity: 1;
  }
}

.animate-expose-text {
  &.active {
    @include animation(exposeText, 1s);
  }
}

.animate-expose-text,
.expose-text {
  opacity: 0;
}

.animate-text-sequence {
  opacity: 0;
  &.active {
    opacity: 1;
    .overflow-hidden {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          .expose-text {
            @include animation(exposeText, .8s, .15s * $i);
          }
        }
      }
    }
    .fade-in-up {
      &:first-of-type {
        @include animation(slideUpSmall, 1s, 0.5s);
      }
      &:last-child {
        @include animation(slideUpSmall, 1s, 0.8s);
      }
    }
  }
  .paragraph {
    line-height: 1.8;
  }
}