.hover-overlay {
  @include transition(0.5s);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba($blue, 0.9);
  padding: 10px;
  // @include media-breakpoint-up(lg) {
  //   padding: 20px;
  // }
  @include media-breakpoint-up(lg) {
    padding: 40px;
  }
  .overlay-content {
    text-align: center;
  }
  // pointer-events: auto;
  .hover-primary-text {
    font-family: $headings-font-family;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 0;
    color: $white;
    @include media-breakpoint-down(md){
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .hover-secondary-text {
    font-family: $font-family-base;
    font-size: 1.1rem;
    color: $white;
    @include media-breakpoint-down(md){
      font-size: 16px;
      line-height: 1;
    }
  }
  .btn {
    // @include media-breakpoint-down(md) {
    //   font-size: 16px;
    // }
    @include media-breakpoint-down(md) {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &.overlay-green {
    background-color: rgba($green, 0.9);
  }
  &.overlay-blue {
    background-color: rgba($blue, 0.9);
  }
  &.overlay-red {
    background-color: rgba($red, 0.9);
  }
  &.overlay-yellow {
    background-color: rgba($yellow, 0.9);
  }
  &.overlay-purple {
    background-color: rgba($purple, 0.9);
  }
  
}

.item-hover {
  .hover-content {
    pointer-events: none;
  }
  &:hover {
    position: relative;
    .hover-content {
      pointer-events: all;
    }
    .hover-overlay {
      @include animation(expand, 0.5s);
      .hover-primary-text {
        @include animation(slideUpSmall, 0.5s, 0.5s);
      }
      .hover-secondary-text {
        @include animation(slideUpSmall, 0.5s, 0.8s);
      }
      .btn {
        @include animation(slideUpSmall, 0.5s, 1s)
      }
    }
  }
}
