.text-block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  .lead {
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      padding-left: 55px;
      padding-right: 55px;
      text-align: left;
    }
  }
}